.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis path {
    display: none;
}
.y.axis path {
	display:none;
}
.line {
    fill: none;
    stroke: darkblue;
    stroke-width: 4px;
}
.mu-label {
	font-weight: 400;
	color: black;
	display: block;
	font-size: 14px;
}
.mu {
	font-size: 18px;
	font-weight: 700;
	color: black;
	display:block;
	width: 120px;
	margin: 0 auto;
}